<h1><%= @title %></h1>

<p> 
    <img src="/ads/<%= @ad.filename %>" height="<%= @ad.height %>" width="<%= @ad.width %>" />
</p>

<p> 
    <h3>Title:</h3> 
    <%= @ad.title %>
</p>

<p> 
    <h3>Content:</h3> 
    <%= @ad.content %>
</p>
<p> 
    <h3>Width:</h3> 
    <%= @ad.width %>
</p>

<p> 
    <h3>Height:</h3> 
    <%= @ad.height %>
</p>


<p> 
    <h3>Filename:</h3> 
    <%= @ad.filename %>
</p>
<p> 
    <h3>Destination url:</h3> 
    <%= @ad.url %>
</p>
<p> 
    <h3>Is Active:</h3> 
    <%= @ad.is_active %>
</p>


